@using BusesControl.Models.Enums
@model Funcionario;
<ul class="list-unstyled components mb-4" style="margin-bottom: 0px;">
    <li class="linha">
        <a asp-area="" asp-controller="Home" asp-action="Index"><span class="fa-sharp fa-solid fa-house-chimney-window"></span> Home</a>
    </li>
    <li class="linha">
        <a asp-area="" asp-controller="Cliente" asp-action="Index"><span class="fa fa-users"></span> Clientes</a>
    </li>
    <li class="linha">
        <a asp-area="" asp-controller="Fornecedor" asp-action="Index"><span class="fa fa-user-group"></span> Forne&shy;cedores</a>
    </li>
    @if (Model.Cargos == CargoFuncionario.Administrador) {
        <li class="linha">
            <a asp-area="" asp-controller="Funcionario" asp-action="Index"><span class="fa fa-users-gear"></span> Funcio&shy;nários</a>
        </li>
    }
    <li class="linha">
        <a asp-area="" asp-controller="Frota" asp-action="Index"><span class="fa-solid fa-bus"></span> Frota</a>
    </li>
    <li class="linha" style="margin-bottom: 7px;">
        <a asp-area="" asp-controller="Contrato" asp-action="Index"><span class="fa fa-file-contract"></span> Contratos</a>
    </li>
    <li class="linha">
        <a asp-action="Sair" asp-controller="Logar"><span class="fa fa-right-from-bracket" style="font-size: 14pt;"></span> Sair</a>
    </li>
</ul>