@charset "utf-8";
@charset "UTF-8";

.sectionCliente {
    margin: 1px 1px 1px 1px;
}

input {
    border: solid 1px #2b65c2;
}

#bac {
    margin: 0px;
    margin-top: 5px;
    font-size: 12pt;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    color: #2b2b2bba;
}

.titleModal {
    margin: 0px;
    font-size: 11pt;
    font-family: 'Poppinns', sans-serif;
}

.view {
    color: black;
}

.filtro {
    margin-top: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.form-item {
    margin: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    flex: 1 1 300px;
}

label {
    font-size: 10.5pt;
    margin-bottom: 0px;
    margin-top: 0px;
}

.flex-filtro {
    display: flex;
    margin-top: 10px;
}

.form-control {
    height: 28px;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid #81818192;
}

input#form-control {
    min-width: 250px;
}

#cadEdit .form-control {
    border-radius: 0px 5px 5px 0px;
}

.form-control:focus {
    box-shadow: none;
    border: solid 1px #2b65c2;
}

.consult-flow {
    cursor: pointer;
    margin-left: 1px;
    background-color: greenyellow;
    width: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #81818192;
    transition: 1s;
}

    .consult-flow:hover {
        background-color: rgb(58, 229, 0);
    }

.consult-flow-info {
    font-size: 13pt;
    z-index: 2;
    color: white;
    font-weight: bold;
    top: 105px;
    right: 47px;
    position: absolute;
    cursor: pointer;
    background-color: #0091ff;
    width: 60px;
    height: 27px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px groove #2e6fd9;
    border-radius: 3px;
    transition: 1s;
    -moz-animation: consult-flow-info .75s linear infinite;
    -o-animation: consult-flow-info .75s linear infinite;
    animation: consult-flow-info .75s linear infinite;
}

    .consult-flow-info:hover {
        border: 1px groove rgb(0, 03, 23);
        background-color: rgb(0, 34, 142);
        -moz-animation: consult-flow-info .0s linear infinite;
        -o-animation: consult-flow-info .0s linear infinite;
        animation: consult-flow-info .0s linear infinite;
    }

@keyframes consult-flow-info {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.icon-detalhes {
    color: white;
}

/*Icones de erro e sucesso da sessão modal cliente*/
.form-it .i small {
    position: absolute;
    top: 23px;
    right: 15px;
    font-size: 9pt;
}

.cliente {
    width: 99%;
}
/*Sobre a sessão de controle de clientes/*/
.clientes {
    width: 96%;
    padding: 15px;
    padding-top: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}

.flex-item {
    width: 100%;
    display: flex;
    margin-top: -16px;
    margin-bottom: 30px;
    flex-direction: row;
    padding: 0;
}

.filtra_btn {
    font-size: 9pt;
    padding: 8px;
    border: 1px solid rgb(0, 04, 102);
    margin-bottom: 55px;
    color: white;
    background-color: rgb(0, 34, 142);
    transition: 01s;
}

    .filtra_btn:hover {
        color: white;
        background-color: rgb(0, 3, 83);
    }

.filtrar_btn {
    margin-bottom: 2px;
    border: 1px solid rgb(0, 04, 82);
    height: 30px;
    color: white;
    background-color: rgb(0, 34, 142);
    transition: 01s;
}

    .filtrar_btn:hover {
        color: white;
        border: 1px solid rgb(0, 3, 53);
        background-color: rgb(0, 3, 83);
    }

.btn-group .btn-group-toggle {
    display: flex;
    flex-wrap: wrap;
}

.enum {
    border: 1px solid forestgreen;
    background-color: #02de00;
}

    .enum:hover {
        background-color: limegreen;
        background-color: forestgreen;
    }

.noCheck {
    border: 1px solid darkred;
    background-color: red;
}

    .noCheck:hover {
        background-color: darkred;
    }

.filtrar_btn2 {
    padding: 8px;
    border: 1px solid darkred;
    margin-bottom: 55px;
    background-color: red;
    transition: 0.4s;
}

    .filtrar_btn2:hover {
        border: 1px solid darkred;
        background-color: darkred;
    }

.api {
    border: 1px solid #2b65c2;
    background-color: #0099f2db;
}

    .api:hover {
        background-color: #0169b7;
    }

.modal-header {
    background-color: #fbfbfb;
}

.form-it {
    padding-bottom: 6px;
}

.modal-title {
    font-weight: normal;
}

.col-md-12, .col-md-6 {
    margin-bottom: 10px;
}

/*Caixa de entrada de usuário*/
.input-group-prepend span {
    background-color: rgb(0, 34, 142);
    color: #ffffff;
    border: 0 !important;
    height: 28px;
    width: 40px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.row-hover:hover {
    background-color: #dedede;
}

.link {
    margin: 10px;
    color: rgb(0, 7, 182);
}

.link-trash {
    margin: 10px;
    font-size: 10.5pt;
    color: rgb(247, 0, 53);
}

    .link-trash :hover {
        color: darkred;
    }

.btn-ende {
    text-align: center;
    padding: 7px;
    border: 1px solid #2b65c2;
    transition: 0.4s;
    background-color: #2b65c2;
}

    .btn-ende:hover {
        background-color: #0091ff;
    }

#janelaModalConfirm {
    margin-top: 5px;
    background-color: #0000003b;
}

.modal-footer {
    width: 100%;
    padding-top: 57px;
    margin-bottom: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.page-link {
    text-align: center;
    align-items: center;
}

@media(min-width: 0px) {
    .flex-filtro {
        justify-content: center;
    }

    .flex-item {
        justify-content: space-between;
    }

    .clientes {
        flex-direction: auto;
    }

    .page-link {
        width: 12vh;
        font-size: 9pt;
    }

    .filtro {
        width: 85%;
    }

    #formAdd {
        width: 100%;
    }

    .filtra_btn, .filtrar_btn2 {
        width: 100px;
        height: 33px;
        font-size: 8pt;
    }

    .filtrar_btn {
        font-size: 8pt;
        margin: 1px;
        width: 130px;
    }

    .test1 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

@media(min-width: 510px) {
    .btn-group .btn-group-toggle {
        flex-direction: row;
    }

    .filtra_btn, .filtrar_btn2 {
        width: 110px;
    }
}

@media (min-width: 650px) {
    .test1 {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
}

@media(min-width: 768px) {
    .clientes {
        flex-direction: column;
    }

    .page-link {
        width: 20vh;
        font-size: 10pt;
    }

    .filtra_btn, .filtrar_btn2 {
        width: 114px;
        font-size: 9pt;
    }

    .filtrar_btn {
        font-size: 9pt;
        width: 130px;
    }
}

@media(min-width: 941px) {
    .filtro {
        width: 80%;
    }

    .flex-filtro {
        justify-content: flex-end;
    }

    #janelaModalConfirm {
        margin-top: -20px;
    }

    .page-link {
        width: 22vh;
        font-size: 11pt;
    }
}
