@model Login
@{
    Layout = "_LayoutNoConect";
}
<!--Colocando a imagem icone do título.-->
<link rel="icon" href="css/Imagens/techsolutions.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--Css da página-->
<link rel="stylesheet" href="css/logar.css">
<div class="mensagemErro">
    @if (TempData["MensagemDeErro"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemDeErro"]
            <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa-xmark"></i> </button>
        </div>
    }
</div>
<div class="mensagemErro">
    @if (TempData["MensagemDeSucesso"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemDeSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa-xmark"></i> </button>
        </div>
    }
</div>
<main>
    <section id="Login">
        <div class="card">
           <div class="card-header">
                <h5>Conectar</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Logar" asp-action="Index" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Informe seu CPF." maxlength="11"
                               onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" asp-for="Cpf">
                        <small class="errorMsg">
                            @Html.ValidationMessageFor(x => x.Cpf)
                        </small>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Informe sua senha." maxlength="14" asp-for="Senha" id="senha">
                        <small class="errorMsg">
                            @Html.ValidationMessageFor(x => x.Senha)
                        </small>
                    </div>
                     <small><input type="checkbox" onclick="OcultDisplay()"> Mostrar senha</small>
                    <div class="form-group">
                        <button type="submit" class="btn float-right login_btn">Logar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                     <a asp-action="RedefinirSenha" asp-controller="Logar">Esqueceu sua senha?</a>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/js/OcultarMostrarSenha.js"></script>