@model Relatorio
<div class="alert-primary" style="text-align: center;">
    <b>Receita: </b>
    <i style="margin-right: 20px;">
        Valor total <br> R$ @Html.DisplayFor(x => Model.ValTotReceitas)
    </i>
    <i>
        Valor efetuado <br> R$ @Html.DisplayFor(x => Model.ValTotEfetuadoReceita)
    </i>
</div>
<div class="alert-warning" style="text-align: center;">
    <b>Despesa:</b>
    <i style="margin-right: 20px;">
        Valor total <br> @Html.DisplayFor(x => Model.ValTotDespesas)
    </i>
    <i>
        Valor efetuado <br> @Html.DisplayFor(x => Model.ValTotEfetuadoDespesa)
    </i>
</div>